{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/cart/detail.min.css' %}">
{% endblock %}

{% block content %}
<section id="cart" class="flex justify-center">
  <div class="container">

    <h1>Your shopping cart</h1>
    <table class="cart">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Remove</th>
          <th>Unit price</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart.get_items %}
          {% with product=item.product %}
            <tr>
              <td>
                <a href="{{ product.get_absolute_url }}">
                  <img src="{% if product.image %}{{ product.image.url }}
                  {% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
              </td>
              <td>{{ product.name }}</td>
              <td>
                <form action="{% url 'cart:cart_update' product.id %}" method="post" id="quant_form">
                  <input type="hidden" name="initial_quantity" value="{{ item.quantity }}">
                  <input type="number" name="new_quantity" class="new_quantity" value="{{ item.quantity }}" min="0">
                  <!-- <input type="submit" value="Update"> -->
                  {% csrf_token %}
                </form>
              </td>
              <td>
                <form action="{% url "cart:cart_remove" product.id %}" method="post">
                  <input type="submit" value="Remove">
                  {% csrf_token %}
                </form>
              </td>
              <td class="num">${{ product.price }}</td>
              <td class="num">${{ item.get_total_price }}</td>
            </tr>
          {% endwith %}
        {% endfor %}
        
      </tbody>
    </table>
    <div class="total">
      <p>Total</p>
      <p>${{ cart.get_total_price }}</p>
    </div>
    <p class="text-right actions">
      <a href="{% url "shop:product_list" %}" class="button
      light">Continue shopping</a>
      <a href="{% url 'orders:order_create' %}" class="button">Checkout</a>
    </p>
  </div>  
</section>
{% endblock %}

{% block script %}
<script>
  $(".new_quantity").on("change", function () {
    $(this).parent().submit()
  });
</script>
{% endblock %}