{% extends "shop/base.html" %}
{% load static %}

{% block title %}Pay your order{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/cart/detail.min.css' %}">
{% endblock %}

{% block content %}
<section id="cart" class="flex justify-center">
    <div class="container">
        <h1>Order summary</h1>
        <table class="cart">
          <thead>
            <tr>
              <th>Image</th>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in order.items.all %}
              <tr class="row{% cycle "1" "2" %}">
                <td>
                  <img src="{% if item.product.image %}{{ item.product.image.url }}
                  {% else %}{% static "img/no_image.png" %}{% endif %}">
                </td>
                <td>{{ item.product.name }}</td>
                <td class="num">${{ item.price }}</td>
                <td class="num">{{ item.quantity }}</td>
                <td class="num">${{ item.get_cost }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="total">
            <p>Total</p>
            <p>${{ order.get_total_cost }}</p>
          </div>
        
          <form action="{% url "payment:process" %}" method="post" id="pay_now_button">
          <input type="submit" value="Pay now">
          {% csrf_token %}
        </form>

    </div>

</section>
{% endblock %}