{% load static %}

<section class="flex justify-center bg-black">
    <div class="container">
        <div class="grid grid-cols-5 gap-[20px] pt-[44px] pb-[44px] items-center">
            <div class="flex flex-center items-center">
                <img src='{% static "images/versace.png" %}' alt="" class="w-[75%]">
            </div>

            <div class="flex flex-center items-center">
                <img src="{% static 'images/zara.png' %}" alt="" class="w-[75%]">
            </div>

            <div class="flex flex-center items-center">
                <img src='{% static "images/gucci.png" %}' alt="" class="w-[75%]">
            </div>

            <div class="flex flex-center items-center">
                <img src='{% static "images/prada.png" %}' alt="" class="w-[75%]">
            </div>

            <div class="flex flex-center items-center">
                <img src='{% static "images/calvin.png" %}' alt="" class="w-[75%]">
            </div>
        </div>
    </div>
</section>