<section class="flex justify-center bg-[#F2F0F1]">
    <div class="container flex justify-center">
        <div class="pt-[100px] pb-[116px] flex flex-col gap-[32px]">
            <h1 class="text-[108px] text-center leading-[90px]">FIND CLOTHES <br> THAT MATCH <br> YOUR STYLE</h1>
            <p>Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.</p>
            <div class="text-center flex justify-center">
                <a href="" class="rounded-[62px] h-[52px] w-[210px] bg-black text-white flex justify-center items-center text-center">Shop Now</a>
            </div>
        </div>
        <!-- <div class="mt-[48px] grid-cols-3">
            <div class="flex flex-row">
                <p>200+</p>
                <p>International Brands</p>
            </div>

            <div class="flex flex-row">
                <p>200+</p>
                <p>International Brands</p>
            </div>

            <div class="flex flex-row">
                <p>200+</p>
                <p>International Brands</p>
            </div>
        </div> -->
    </div>
</section>